* {
  margin: 0px;
}
body {
  height: 100%;
}
header {
  text-align: center;
}
footer {
  background-color: black;
  margin-top: 40px;
  text-align: center;
  height: 120px;
}
h1 {
  font-size: 50px;
}
h1:hover {
  color: rgba(231, 225, 226, 0.5);
}
h2 {
  font-family: "Courier New";
  font-size: 40px;
}
h3 {
  color: white;
}

label {
  font-size: 25px;
  display: auto;
  width: 200px;
  font-family: Arial;
}
.caja {
  background-color: rgba(231, 225, 226, 0.5);
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 250px;
  height: 400px;
  border-style: none;
  border-radius: 25px;
  box-shadow: 2px 2px 5px #999;
}
form {
  text-align: center;
}
